body {
  margin: 0;
  padding: 0;
  background-image: url("D:\Web-Dev\MERN-projects\Enigma\frontend\public\back.jpg"); /* Use a relative path or process.env.PUBLIC_URL */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.home {
  padding-top: 5%;
  text-align: center;
}

.card {
  margin: 5%; /* Adjust margin for smaller screens */
  background-color: green;
  padding: 2%;
  max-width: 500px; /* Set a maximum width for better responsiveness */
  margin: auto; /* Center the card horizontally */
}

.members {
  text-align: left;
  padding: 2%;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .card {
    max-width: 100%; /* Adjust max-width for smaller screens */
  }
}
